* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/Summer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.hot {
    background-image: url("images/Summer.jpg");
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section {
    text-align: center;
}

#weather {
    display: flex;
    flex-direction: column;
}

#location {
    text-shadow: 2px 2px #000;
    width: 240px;
    height: 60px;
    font-size: 1.4rem;
    border-bottom: 2px solid #FFF;
}

.locationBut {
    border-bottom: 2px solid #FFF;
}

::placeholder {
    color: #FFFF;
}

#userinput {
    margin-top: 10px;
}

#location, button { 
    background-color: #0004;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 3px;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    color: white;
}

button {
    width: 30px;
    height: 30px;
}

#icon {
    background-color: blue;
    width: 50%;
    margin: auto;
}

ul {
    width: 280px;
    height: auto;
    background-color: #0f4c75;
    margin: auto auto;
    border-radius: 7px;
    transition: all .3s ease-in-out;
}

ul:hover {
    transform: scale(1.1);
}

div {
    padding: 40px;
}

li {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.fa-arrow-right {
    text-shadow: 2px 2px #000;
}

.fa-cloud-moon {
    padding-top: 20px;
    color:  #0f4c75;
    font-size: 6rem;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 3px 0px rgba(0,0,0,0.9);
    font-size: 4rem;
}

h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
    color: #FFFF;
    text-shadow: 2px 3px 0px rgba(0,0,0,0.9);
}

#newcity {
    margin-left: 70%;
    margin-top: 10%;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    opacity: 50%;
    transition: all 0.3s ease-in-out;
}

#newcity:hover {
    opacity: 1;
}

.fa-plus-circle {
    align-self: center;
    font-size: 2rem;
    color: #000
}